.first-card {
  width: 80%;
  padding: 60px 0px 0px 50px;

}

.blog-image {
  display: block;
  height: 250px;
  background-position: 50% 50%;
  background-size: cover;
  opacity: 1;
  transition: 0.5s;
}

.blog-image:hover {
  opacity: 0.5;
}

.content {
  padding: 30px 0px 10px 30px;
  background-color: white;
  font-size: 13px;
}

.topic {
  opacity: 0.5;
}

.topic:hover {
  cursor: pointer;
  opacity: 1;
  color: black;
  font-weight: 600;
  transition: 0.5s;
}