.right-side{
  width: 75%;
  background-color: whitesmoke;
  position: absolute;
  right: 0;
  top: 0;
}
#all_posts{
  margin: 0px 0px 0px 55px;
}
.selected_tag{
  width: 75%;
  background-color: white;
  margin: 60px 0px 0px 60px;
  padding: 30px;
  font-size: 25px;
  opacity: 0;
  transition: 5s;
}
.show{
  opacity: 1;
}
