.Contact{
  margin-top: 50px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  
}

.Flex_container{
  display: flex;
  justify-content: space-evenly;
}

.Contact  .Contact_text_forms{
  width: 50%;
  
}

.Contact  .Right_side_image{
  width: 50%;
}

.inputs-flex{
  display: flex;
}

#First_name, #Last_name{
  padding: 15px;
  width: 50%;
  margin: 15px;
}
#Subject, #Email, #Your_message{
  width: 85%;
  padding: 15px;
  margin: 15px;
}

.Text_Contact{
  margin-left: 15px;
}

#Send_message{
  border: 2px solid #352961;
  color: white;
  padding: 15px 30px 15px 30px;
  text-transform: uppercase;
  background-color: transparent;
  background-color: #352961;
  transition: 0.5s;
  margin: 15px;
}


#Send_message:hover {
  background-color: #352961;
  color: black;
  cursor: pointer;
  background-color: white;
  border: 2px solid #352961
}